body{
    margin: 1em;
}

p{
    margin: 0px;
}

.sectiontitle{
    margin-bottom: 1.5em;
}

h1{

}

.links{
    margin-bottom: 2em;
}

.songs{

}

.songinfo{
    display: inline-block;
    overflow-x: scroll;
    margin-right: 1em;
    margin-bottom: 1em;
}

.songart{
    max-width: 300px;
}

.songtitle{
    font-weight: bold;
}